* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: darkblue;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  font-size: 28px;
  font-weight: bold;
}

.clock ul li {
  position: absolute;
  list-style: none;
  text-align: center;
  transform: rotate(calc(30deg * var(--h)));
  inset: 5px;
}
