@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    hsl(239, 100%, 23%),
    hsl(190, 100%, 50%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: darkblue;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 30rem;
  max-width: 1000px;
  height: 30rem;
  font-size: 28px;
  font-weight: bold;
  font-family: Comissioner, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clock::after {
  content: '';
  position: absolute;
  background-color: azure;
  z-index: 9;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock ul li {
  position: absolute;
  list-style: none;
  text-align: center;
  transform: rotate(calc(30deg * var(--h)));
  inset: 5px;
}

.clock ul li span {
  display: inline-block;
  transform: rotate(calc(-30deg * var(--h)));
}

.clock .needle {
  --rot: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rot) * 1deg));
}

.clock .second {
  width: 3px;
  height: 45%;
  background-color: red;
}

.clock .minute {
  width: 7px;
  height: 40%;
  background-color: aliceblue;
  border: 1px solid #000;
}

.clock .hour {
  width: 10px;
  height: 30%;
  background-color: azure;
  border: 1px solid #000;
}
