* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
}

.clock {
  background-color: darkblue;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  font-size: 28px;
  font-weight: bold;
}
